.insert-add{

     height: 40px;
     width: 300px;
     padding:10px;
     display: flex;


}
.red{
     background-color: red;
    color: black;
}

.insert-add button{

    color: wheat;
    background-color:blue ;
}

.conte{
   align-items: center;
    box-shadow: 1px 1px rgba(red, green, blue, alpha);

}