




 ::before,
 ::after {
  box-sizing: border-box;
  font-family: system-ui;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

nav {
  display: grid;
  /* gap: 0.5em; */
  margin-block: 1em;
  margin-inline: auto;
  height: 100px;
  background-color: #022C43;
  padding: 40px;
 
}

ul {
  display: flex;
  justify-content: end;
  color: aliceblue;
  

  padding: 0.5em;
}

.links{
    color: white;
    text-decoration: none;

}

ul li  {
  list-style-type: none;
  padding: 0 20px;
  border: 1px solid white;
  margin-left: 70px;
  height: 40px;
  padding: 10px;
  border-radius: 5px ;
}

.logo {
  font-weight: bold;
  /* causes the element to grow, if it's the only element with flex-grow
     then it will grow to fill up the available space; if multiple
     elements have flex-grow set then it will grow proportional to those
     other elements: */
  flex-grow: 1;
  border: 1px solid transparent;
}

.bordered {
  border-color: #000;
}