.container{
    transition: 1s;
        /* max-width:960px ; */
        /* margin: 100px auto; */
        padding: 10px;
        display:grid;
        grid-template-columns: repeat(4,1fr);
        gap: 5px;
        grid-auto-rows: minmax(200px auto); 
     
         grid-template-rows:repeat(5,1fr); 
       
        /* grid-template-rows: 100px auto; */
        min-width: auto;
         min-height: auto
    
    }