.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    /* margin: auto; */
    margin-left: 40px;
    text-align: center;
    height:auto;
    padding-bottom: 10px;
    
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    background-color: #115173;
    color: white;
    height: 40px;
    text-align: center;
    cursor: pointer;
    width: 200px;
    font-size: 18px;
    border-radius: 8px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }