.body {
  font-size: 16px;
  height: auto;
  display: grid;
  grid-template-areas:
    "nav main sidebar"
    "nav main sidebar"
    "nav main  sidebar";
  grid-template-columns: 55px 4fr 1fr;
  grid-template-rows: 80px 1fr 70px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header,
.content,
.nav,
.aside,
.footer {
  padding: 20px;
  /* border: cadetblue 1px  dotted; */
}
.header {
  color: aliceblue;
  box-shadow: "1px 2px 9px #F4AAB9";
  grid-area: topnav;
  margin: "4em";
  padding: "1em";
  background-color: rgb(221, 209, 221);
  justify-items: center;
  justify-content: flex-end;
}
link {
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

.content {
  grid-area: main;
  background-color: rgb(248, 245, 248);

  padding: 0;
  right: 0;
}

.nav {
  grid-area: nav;
}

.footer {
  grid-area: bottomNav;
  background-color: rgb(20, 6, 33);
  padding: 30px;
}
.aside {
  grid-area: sidebar;
}
.footer li a {
  text-decoration: none;
  gap: 10rem;

  color: white;
  font-size: 30px;
  margin-right: 10px;
  align-content: center;
}
.diary {
  width: 140px;
  border: none;
  padding: 5px;
  height: 50px;
  margin: auto 10px;
  border-radius: 15px;
  box-shadow: 0px 10px 15px 15px rgba(242, 247, 247, 0.637);
  outline: none;
}
