.movieApp  {
    text-align: center;
    



}
.movie{
   
    padding: 10px;
    max-width: 960px;
    background-color: aqua;
    grid-template-columns: repeat(3,1fr);
    display: grid;
   border: skyblue;
}