.tabs{
margin-left: 60px;
justify-content: left;
padding: 10px;
    color: #ec4747;
    display: flex;
    transition: margin-left 1.50s;

padding: 16px;
border-radius: 10px;
}
.tabone{



height: 40px;
top:0;
border: 1px;
}
.check{
background-color: black;
height: 90;
color: white;
width: 30px;
padding: 5px 3px;

}